
  
<div class="leftbody">
   
  <mat-tab-group color="accent" backgroundColor='primary' class="tabgroup" style="width: 65%; margin-left: 30px;">

    <mat-tab label="Form Designer" >
      <div class="fdclass">
        <div class='sentence'>
          <p><b>Drag</b> one of the <b>fields</b> from <b>Field Paletee</b> onto <b>Form Designer</b> to create a new form </p>
        </div>
      </div>
    </mat-tab>


    <mat-tab label="Preview Form"><div id ="hello">
      <div class="fdclass">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam minima, laborum eveniet deserunt dignissimos sint adipisci iste earum id repellat animi repudiandae quas eaque voluptate dolore laboriosam rem ratione! Expedita.</p>
      </div>
    </div></mat-tab>

  </mat-tab-group>

  <div>
    <app-rightbody></app-rightbody>
  </div>

</div>

  