<div>

    <div>
        <h3 class="addnewf">Add new fields</h3>
    </div>
    
    <div id="selectdivforf">
        <label for="field" id="labelforselect" ><b>Field Type</b></label>
        <select name="field" id="options" #mySelect
        (change)='onOptionsSelected(mySelect.value)'>
          <option value="text">Text</option>
          <option value="email">Email</option>
          <option value="number">Number</option>
          <option value="password">Password</option>
          <option value="textarea">Textarea</option>
          <option value="chechboxlist">Chechbox List</option>
          <option value="date">Date</option>
        </select>
    </div>

    <div>
        <mat-tab-group color="warn" backgroundColor='warn' class="tabgroup" style="width: 81%; ">

            <mat-tab label="Properties" >
              <div class="fdclass">
                  <div id="idforlabel">
                   <form>
                    <label for="label" class="fdclass1"><b>Label :</b></label>
                    <input type="text" name="label" class="fdinputclass" [(ngModel)]="text.name">
                   </form>
                  </div>

                 <div id="idforlabel">
                    <label for="fdgroups" class="fdclass1"><b>FieldGroups :</b></label>
                    <select name="fdgroups" class="fdinputclass">
                        <option *ngFor="let i of fgs" value="i.id"> {{i.name}} </option>
                        <!-- <option value="fd1">FieldGroup-1</option>
                        <option value="fd2">FieldGroup-2</option>
                        <option value="fd3">FieldGroup-3</option>
                        <option value="fd4">FieldGroup-4</option> -->
                    </select>
                 </div>

                 <div id="idforbutton">
                    <button (click)="addtext()" id="savebutton">Save</button>
                    <button (click)="cleartext()" id ="cancelbutton">Cancel</button>
                 </div>

              </div>
            </mat-tab>
        
        
            <mat-tab label="Options">
              <div id="optionsid" class="fdclass">
                <h1 *ngIf="!liststatus" >No Options Available</h1>
                <div *ngIf="liststatus">
                  <ul *ngFor="let lis of listItems">
                    <li>
                      <label class="fdclass1" for="val">value</label>
                      <input class="fdinputclass" type="text" id="val" [(ngModel)]="lis.val">
                      <br>
                      <label class="fdclass1" for="text">text</label>
                      <input class="fdinputclass" type="text" id="text" [(ngModel)]="lis.text">
                    </li>
                  </ul>
                  <button id="idforbutton" (click)="addListItem()">Add element</button>
                  <button id="idforbutton" (click)="removeListItem()">Remove element</button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Validation">
                <div class="fdclass">
                   <form>
                    <div id="idforlabel">
                        <label for="minlen" class="fdclass1"><b>Min-Length</b></label>
                        <input type="number" [(ngModel)]="text.min_length" name="minlen"  class="fdinputclass" type="number">
                    </div>
                    <div id="idforlabel">
                     <label for="maxlen" class="fdclass1"><b>Max-Length</b></label>
                     <input type="number" name="maxlen" class="fdinputclass" [(ngModel)]="text.max_length">
                    </div>
                    <div id="idforlabel">
                     <label for="isreq"  class="fdclass1"><b>Required</b></label>
                     <input type="checkbox" name="isreq" class="fdinputclass" (change)="onCheckboxChange()">
                    </div>
                   </form>
                </div>
              </mat-tab>
        
          </mat-tab-group>
    </div>

    <div>
       <button id="idforbutton" (click)="showfgs()" class="showhideb"> Show/Hide FieldGroups  ▼ </button>
      <div id="fgbottom" *ngIf="sfg">
        <div *ngFor="let i of fgs">
          <button class="fdb1"> {{i.id}}) {{i.name}} </button >  <button (click)="getfg(i.id, i.name)" class="fdb2"> ▼ </button>
        </div>
        <h2> Details of field group :<b>{{fieldtitle}}</b>  </h2>
      </div>
      <div id="listoffieldsinfg">
        <table>
          <li *ngFor="let i of texts" class="listf">
           <div class="divforlistoff">
            <p> <b>label:- </b> {{i.name}}</p>
            <p> <b>is required:- </b> {{i.is_required}}</p>
            <p> <b> max length:-</b> {{i.max_length}}</p>
            <p> <b>min length:-</b>  {{i.min_length}}</p>
            <button id="addb">Add</button>
           </div>
          </li>
        </table>
      </div>
    </div>

</div>
