<h1 class="headername">Create Form</h1>
<div class="headcont">
  <form>
    <label for="ftitle"class="label">Form title</label>
    <input type="text" id="ftitle" name="ftitle" class="finput"><br><br>
    <div class='radio'>
        <p>Form Type</p>
        <input type="radio" id="userendform" class="labelforradio"     name="uef" value="userendform">
        <label for="uef" >User End Form</label>
        <input type="radio" id="systemendform"  class="labelforradio"name="sef" value="systemendform">
        <label for="sef">System User Form</label>
        <input type="radio" id="repform"class="labelforradio" name="rf" value="reportingform">
        <label for="rf" >Reporting Form</label>
    </div>
    <label for="categories" class="label">categories </label>
    <input type="text" id="categories" name="categories"  class="finput"><br><br>
  </form>
  <div>
    <button>cancel</button>
  </div>
  <div>
    <button>cancel</button>
  </div>
</div>
<hr style="color: blue;">